*.lo
*.o
.deps
.libs
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile.in
/TAGS
/so_locations
/tags
_libs
/main.o
/resources.c
/resources.o
/teleport
/teleport.o
/teleportwin.o
test_download
Makefile
_build/
.flatpak-builder/
flatpak/
