[Desktop Entry]
Name=Teleport
Exec=/home/julian/Projects/teleport/src/teleportapp
Icon=utilities-terminal
Type=Application
Categories=GTK;GNOME;Utility;
