.device-name {
	font-size: 18px;
	font-weight: bold;
}

frame, list, border {
	border-radius: 4px;
}

:not(decoration):not(window):drop(active):focus, :not(decoration):not(window):drop(active) {
  border-color: #4A90D9;
  box-shadow: inset 0 0 0 1px #4A90D9;
  caret-color: #4A90D9;
	border-radius: 4px;
}

.device-row, .file-row {
  margin-left: 12px; margin-right: 12px; min-height: 50px;
}
